.bot-svg {
  margin-right: calc(100% - 60px);
}

svg #buddy #body {
  fill: #aed0c0 !important;
}
svg #buddy #head-group {
  transform: translate(6px, 10px);
  animation: head-bob 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes head-bob {
  from {
    transform: translate(6px, 4px);
  }
  to {
    transform: translate(6px, 7px);
  }
}

svg #buddy #head-group #face-group {
  animation: face-turn 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear(0 0%, 0 50%, 1 60%, 1 100%);
  animation-direction: alternate;
}

@keyframes face-turn {
  to {
    transform: translate(-6px, 0px);
  }
}

svg #buddy #head-group #face-group #eye-right {
  animation: eye-blink 1.36s;
  animation-iteration-count: infinite;
  animation-timing-function: linear(0 0%, 0 95%, 1 100%);
  animation-direction: alternate;
}

svg #buddy #head-group #face-group #eye-left {
  animation: eye-blink 1.36s;
  animation-iteration-count: infinite;
  animation-timing-function: linear(0 0%, 0 95%, 1 100%);
  animation-direction: alternate;
}

@keyframes eye-blink {
  to {
    height: 2px;
    y: 16px;
  }
}

svg #buddy #arm-left-group {
  animation: arm-wave 2.36s;
  transform-origin: 14px 30px;
  transform: translateX(28px) rotate(-45deg);
  animation-iteration-count: infinite;
  animation-timing-function: linear(0 0%, 0 75%, 1 100%);
  animation-direction: alternate-reverse;
}

@keyframes arm-wave {
  to {
    transform: translateX(24px) rotate(-80deg);
  }
}
