body a {
  z-index: 100;
}

#root {
  padding: 1rem;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.homepage__footer {
  padding-top: 2em;
}

.homepage__marginBtNormal {
  margin-bottom: 1em;
}
p {
  margin-top: 20px;
}

.navBar {
  margin-top: 10px;
}
.major div button span {
  font-size: 22px;
}
.minor div button span {
  font-size: 14px;
}
h2 {
  margin-top: 20px;
}
ul li {
  margin-left: 1em;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  word-wrap: break-word;
}
.custom-counter li {
  counter-increment: step-counter;
}
.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 20px;
  font-size: 80%;
  opacity: 50%;
  font-weight: bold;
}
