.big-nav-link#onboard {
  background-image: url("/cat-bg-onboard.svg");
}

.big-nav-link#monetize {
  background-image: url("/cat-bg-monetize.svg");
}

.big-nav-link#power {
  background-image: url("/cat-bg-power.svg");
}

.big-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  margin-right: 50px;
  transition: all 0.25s ease;
  transition-property: height, padding, margin;
}

.big-nav-link {
  flex: auto;
  color: rgb(219, 219, 219) !important;
  margin: 10px;
  transition: color 0.25s ease;
  display: inline-block;
  text-align: center;
  background-color: black;
  padding: 30px;
  line-height: 20px;
  border-radius: 10px;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.25s ease;
  transition-property: width, height, padding, margin;
}

.big-nav-link svg {
  height: 60px;
  width: auto;
  margin-bottom: 15px;
}

.big-nav-link .description {
  font-weight: 500;
  font-size: 14px;
  margin-top: 14px;
  line-height: 16px;
}

.big-nav.closed {
  height: 0px !important;
}

.big-nav.closed .big-nav-link {
  height: 200px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* landscape, aka desktop */
@media (min-aspect-ratio: 7/10) {
  .big-nav {
    flex-direction: row;
    height: 200px;
    margin-bottom: 20px;
  }

  .big-nav-link {
    width: 30%;
    height: 100%;
  }

  .banner-hide {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .banner-full {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* portrait, aka mobile one-handed */
@media not (min-aspect-ratio: 7/10) {
  .big-nav {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .big-nav.one-category {
    height: 200px;
  }

  .big-nav.no-category {
    height: 600px;
  }

  .big-nav-link {
    width: 100%;
    height: 30%;
  }

  .banner-hide {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .banner-full {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
