* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.margin-left-auto {
  margin-left: auto;
}

.break-word {
  word-break: break-word;
}

.row {
  display: flex;
  border-width: 2px;
  border-radius: 20px;
  margin: 10px;
  background: linear-gradient(90deg, #121212 52%, #1c1c1c 52%);
}

.column {
  flex: 50%;
  margin: 20px 20px;
  width: 46%;
}

.column.widget {
  align-content: center;
  text-align: center;
  margin: auto 0;
  padding: 20px;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.full {
  display: flex;
  border-width: 2px;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #121212;
}

.ghost {
  opacity: 40%;
}

.breakword {
  word-wrap: break-word;
}

ul li {
  margin-left: 1em;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  word-wrap: break-word;
}
.custom-counter li {
  counter-increment: step-counter;
}
.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 20px;
  font-size: 80%;
  opacity: 50%;
  font-weight: bold;
}

@counter-style empty-style {
  system: extends decimal-leading-zero;
  suffix: " ";
}

ol {
  margin-left: 20px;
  list-style: empty-style;
}

.little-window {
  box-shadow: 5px 10px 16px #0000007f;
  margin: auto;
  background-image: url("/checkerboard.png");
  background-repeat: repeat;
  max-width: 600px;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.little-window .header {
  background-color: rgb(69, 69, 69);
  height: 38px;
  position: relative;
  border-radius: 12px 12px 0px 0px;
}
.header .decor-tl {
  top: 0px;
  left: 0px;
  position: absolute;
}
.decor-tl .dot {
  background-color: #767676;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  top: 8px;
  left: 8px;
  position: absolute;
}
.decor-tl .dash {
  background-color: #767676;
  width: 66px;
  height: 12px;
  border-radius: 6px;
  top: 13px;
  left: 38px;
  position: absolute;
}

.little-window .content {
  margin: 20px;
  z-index: 1;
}

.little-window button {
  background: linear-gradient(270deg, #7537f9 0%, #5826ff 100%);
  margin: 10px;
  border-radius: 20px;
}

.clouds {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/clouds.svg");
  background-repeat: repeat-x;
  background-position: 0px 50px;
  animation: slide 6s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0px 50px;
  }
  100% {
    background-position: -480px 50px;
  }
}
